.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.card {
  box-shadow: 0px 0px 5px rgb(230,230,230);
  width: 250px;
  margin: 10px;
  background-position: center;
  color: black;
  text-align: center;
  position: relative;
}

.card img {
  width: 100%;
  border-radius: 5px;
}

.team-name {
  display:none;
}

.card:hover .team-name {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left:0px;
  right: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255,255,255,0.7);
}

@media (max-width: 700px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
